body{
    /* background-image: url("../images/wood.jpg"); */
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.page-header{
    background-image: url("../images/splashcolor.jpg");
    max-width: 100%;
    padding: 25px;
    color: white;
}

#header{
    color: white;
}

#lets-play{
    background-image: url("../images/wood.jpg");
    background-size: cover;
    /* margin: 0px; */
    padding: 100px;
    color: black;

}

.list-unstyled{
    font-size: 18px;
}

strong {
    color: black;
}

/* #button{
    background-color: red;
} */

.page-footer{
    background-image: url("../images/blueknit.jpg");
    position:relative;bottom:0;left:0;right:0;height:150px;
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 15px;
}

.text-uppercase{
    font-size: 20px;
}

a {
    color: black;   
}

a :hover{
    color: lime;
}
/* .footer-copyright{
    color: gray;
} */